# Read the Data

In [16]:
import pandas as pd
import numpy as np
import matplotlib


# Read in the data 
file_path = "Resources/train.csv"
airline_df = pd.read_csv(file_path)
airline_df.head(20)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
5,5,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,...,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied
6,6,82113,Male,Loyal Customer,47,Personal Travel,Eco,1276,2,4,...,2,3,3,4,3,5,2,9,23.0,neutral or dissatisfied
7,7,96462,Female,Loyal Customer,52,Business travel,Business,2035,4,3,...,5,5,5,5,4,5,4,4,0.0,satisfied
8,8,79485,Female,Loyal Customer,41,Business travel,Business,853,1,2,...,1,1,2,1,4,1,2,0,0.0,neutral or dissatisfied
9,9,65725,Male,disloyal Customer,20,Business travel,Eco,1061,3,3,...,2,2,3,4,4,3,2,0,0.0,neutral or dissatisfied
10,10,34991,Female,disloyal Customer,24,Business travel,Eco,1182,4,5,...,2,3,3,5,3,5,2,0,0.0,neutral or dissatisfied
11,11,51412,Female,Loyal Customer,12,Personal Travel,Eco Plus,308,2,4,...,1,1,2,5,5,5,1,0,0.0,neutral or dissatisfied
12,12,98628,Male,Loyal Customer,53,Business travel,Eco,834,1,4,...,1,1,1,3,4,4,1,28,8.0,neutral or dissatisfied
13,13,83502,Male,Loyal Customer,33,Personal Travel,Eco,946,4,2,...,4,4,5,2,2,2,4,0,0.0,satisfied
14,14,95789,Female,Loyal Customer,26,Personal Travel,Eco,453,3,2,...,2,4,3,2,2,1,2,43,35.0,neutral or dissatisfied
15,15,100580,Male,disloyal Customer,13,Business travel,Eco,486,2,1,...,4,2,1,4,1,3,4,1,0.0,neutral or dissatisfied
16,16,71142,Female,Loyal Customer,26,Business travel,Business,2123,3,3,...,4,5,3,4,5,4,4,49,51.0,satisfied
17,17,127461,Male,Loyal Customer,41,Business travel,Business,2075,4,4,...,5,5,5,5,3,5,5,0,10.0,satisfied
18,18,70354,Female,Loyal Customer,45,Business travel,Business,2486,4,4,...,5,5,5,5,3,5,4,7,5.0,satisfied
19,19,66246,Male,Loyal Customer,38,Personal Travel,Eco,460,2,3,...,5,1,2,4,3,2,5,17,18.0,neutral or dissatisfied

In [17]:
airline_df.columns.tolist()

['Unnamed: 0',
 'id',
 'Gender',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes',
 'satisfaction']

In [18]:
airline_df.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [19]:
airline_df = airline_df.drop('Unnamed: 0', axis=1)
airline_df = airline_df.drop('id', axis=1)

In [20]:
for column in airline_df.columns:
    print(f"Column{column} has {airline_df[column].isnull().sum()} null values")

ColumnGender has 0 null values
ColumnCustomer Type has 0 null values
ColumnAge has 0 null values
ColumnType of Travel has 0 null values
ColumnClass has 0 null values
ColumnFlight Distance has 0 null values
ColumnInflight wifi service has 0 null values
ColumnDeparture/Arrival time convenient has 0 null values
ColumnEase of Online booking has 0 null values
ColumnGate location has 0 null values
ColumnFood and drink has 0 null values
ColumnOnline boarding has 0 null values
ColumnSeat comfort has 0 null values
ColumnInflight entertainment has 0 null values
ColumnOn-board service has 0 null values
ColumnLeg room service has 0 null values
ColumnBaggage handling has 0 null values
ColumnCheckin service has 0 null values
ColumnInflight service has 0 null values
ColumnCleanliness has 0 null values
ColumnDeparture Delay in Minutes has 0 null values
ColumnArrival Delay in Minutes has 310 null values
Columnsatisfaction has 0 null values

In [21]:
airline_df.describe()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000