In [1]:
import pandas as pd

In [10]:
air_customer_df = pd.read_csv(r'C:\Users\pepli\Downloads\train.csv\train.csv', low_memory=False)

In [11]:
air_customer_df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [12]:
air_customer_df.sample(n=10)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
10872,10872,24514,Female,Loyal Customer,41,Business travel,Eco Plus,516,3,5,...,3,3,3,3,1,3,4,0,16.0,satisfied
89310,89310,108289,Female,Loyal Customer,41,Business travel,Business,1838,1,5,...,1,1,1,1,2,1,2,0,0.0,neutral or dissatisfied
10895,10895,43371,Male,Loyal Customer,39,Personal Travel,Eco,387,4,2,...,4,3,3,2,1,2,4,0,0.0,satisfied
30807,30807,41246,Female,Loyal Customer,16,Business travel,Eco,643,1,1,...,1,1,5,3,3,4,1,0,6.0,neutral or dissatisfied
80982,80982,107090,Female,Loyal Customer,21,Business travel,Business,745,3,3,...,5,5,3,5,5,4,5,0,0.0,satisfied
16173,16173,87739,Female,Loyal Customer,55,Business travel,Business,3055,0,5,...,4,4,4,4,5,4,5,2,0.0,satisfied
44826,44826,20064,Male,Loyal Customer,21,Personal Travel,Eco,473,3,4,...,5,1,4,4,1,4,5,0,0.0,neutral or dissatisfied
2695,2695,14560,Male,Loyal Customer,31,Personal Travel,Eco Plus,288,1,4,...,3,3,4,5,5,4,3,0,0.0,neutral or dissatisfied
5153,5153,122681,Female,Loyal Customer,47,Business travel,Business,1737,5,3,...,4,4,4,4,4,4,4,0,0.0,satisfied
21994,21994,78550,Female,Loyal Customer,52,Personal Travel,Eco,526,1,4,...,3,3,4,3,4,3,3,0,0.0,neutral or dissatisfied

In [13]:
air_customer_df.columns.to_list()

['Unnamed: 0',
 'id',
 'Gender',
 'Customer Type',
 'Age',
 'Type of Travel',
 'Class',
 'Flight Distance',
 'Inflight wifi service',
 'Departure/Arrival time convenient',
 'Ease of Online booking',
 'Gate location',
 'Food and drink',
 'Online boarding',
 'Seat comfort',
 'Inflight entertainment',
 'On-board service',
 'Leg room service',
 'Baggage handling',
 'Checkin service',
 'Inflight service',
 'Cleanliness',
 'Departure Delay in Minutes',
 'Arrival Delay in Minutes',
 'satisfaction']

In [ ]:
#Choose which columns we need to answer our question. Filtering. (functions?)

In [15]:
air_customer_df.dtypes

Unnamed: 0                             int64
id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

In [ ]:
#Clean gender, customer type, type of travel,class, satisfaction (integer instead of object?)

In [ ]:
#Un-named rows, remove?